* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Noto Sans', sans-serif;
	color: #fff;
	background: #aaaccc;
}
header {
	background: dodgerblue;
	height: 7.5em;
	display: flex;
}
#logo {
	font-size: 1.5em;
	padding-left: 1.1em;
	padding-top: 1.5em;
	font-weight: bold;
}
a {
	text-decoration: none;
	font-size: 1.2em;
	padding-left: 7em;
	padding-top: 2.4em;
	color: #fff;
}
#content {
	background: #f60;
	width: 35%;
	height: 38em;
	padding: 1em;
	margin: 1em;
	margin-top: 1em;
	display: inline-block;
}
#content-2 {
	background: lightgreen;
	width: 35%;
	height: 38em;
	padding: 1em;
	margin: 1em;
	margin-top: 1em;
	color: #000;
	display: inline-block;
}
#content h1 {
	display: flex;
	justify-content: center;
}
@media (max-width: 360px) {
	#content {
		width: 80%;
		margin: 0.1em;
		height: 55.5em;
	}
	#content-2{
	width: 80%;
	margin: 0.1em;
	height: 55.5em;
	}
	header {
		flex-direction: column;
		height: 27em;
		
		justify-content: center;
	}
	#logo {
 	padding-left: 2.5em;
	}
}
@media (min-width: 361px) and (max-width: 850px) {
	a {
		margin-left: -4em;
	}
	#content {
		height: 42em;
	}
	#content-2 {
		height: 42em;
	}
}
@media (max-width: 540px) {
	a {
		margin-left: -6em;
		padding-top: -0.3em;
	}
	#logo {
		margin-left: -0.8em;
	}
}
